<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Swrith</title>
    <meta name="author" content="Hainezo B."/>
    <meta name="description" content="A blog of different stories driven by dice roll."/>
    <meta name="keywords" content="short, stories, blog, personnal, enzo, bruni, article, articles, fantasy, story, writer, writing, words, hainezo, book, books, english, random"/>
    <meta  property="og:type" content="article">
    <meta  property="og:site_name" content="Swrith">
    <meta  property="og:image" content="~/bookicon.ico">
    <environment include="Development">
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment include="Production">
        <link rel="stylesheet" href="~/css/site.min.css" />
    </environment>
    <link rel="icon" href="~/bookicon.ico" />
    <link rel="alternate" type="application/rss+xml" title="Flux RSS" href="rss.xml">
</head>
<body>
    @RenderBody()
</body>
</html>
