<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Roll Driven Stories</title>
    <meta name="author" content="Hainezo B."/>
    <meta name="description" content="A blog of differents stories driven by dice rolls "/>
    <meta name="keywords" content="RDS, roll, driven, stories, blog, personnal, enzo, bruni, article, articles, dice, die, fantasy, tolkien, horror, story, writer, writing, words, hainezo, book, books, english, random"/>
    <environment include="Development">
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment include="Production">
        <link rel="stylesheet" href="~/css/site.min.css" />
    </environment>
</head>
<body>
    
    @RenderBody()

    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
