<nav>
    <h1>
        <a asp-page="Index">Swrith</a>
    </h1>
    
    <form method="get" action="/read/contains">
        <p class="searchbar">
            <input class="field" type="hidden" id="type" name="type" value="search"/>
            <input class="field" type="text" id="search" name="search" placeholder="Search for articles..." aria-label="Search Query" />
            <button class="img" type="submit" aria-label="Search Button"></button>
        </p>
    </form>
</nav>