<nav>
    <h1>
        <a asp-page="Index">
            Roll Driven Stories
        </a>
    </h1>
    
    <form method="get" action="/read/contains">
        <p class="searchbar">
            <label for="search">Search query</label>
            <input class="field" type="text" id="search" name="search" placeholder="Search for articles..." />
            <button class="img" type="submit" ></button>
        </p>
    </form>
</nav>