body, html {
  margin: 0;
  padding: 0;
  background-color: #fdfcfa;
}

a {
  text-decoration: none;
  color: rgb(40, 40, 40);
}

a:hover .title {
}

nav {
  background-color: white;
  border-bottom: 1px solid #e40712;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  padding: 0 3em;
}

nav .bar h1 {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: rgba(40, 40, 40, .9);
}

.post-container {
  max-width: 1200px;
  margin: auto;
  margin-top: 0;
  display: flex;
  flex-flow: wrap;
}

.post {
    flex-grow: 1;
    min-width: 350px;
    max-width: 350px;
    margin: 3em 1.5em 0 1.5em;
    display: flex;
    flex-direction: column;
}

.post .title {
  margin: 0;
  padding-left: 3px;
  font-size: 2em;
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-bottom: .25em;
  margin-top: .25em;
  line-height: .9;
  flex-shrink: 0;
  min-height: 2em;
  display: flex;
  align-items: flex-end;
}

.post .infos-container {
  padding: 1em;
  box-shadow: 0 1px 1px rgb(30, 30, 30, .4);
  background-color: white;
  border-top: 2px solid #e40712;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.post .infos-container .description {
  padding-bottom: 1.5em;
  flex-grow: 1;

}

.post .infos-container .category-infos {
  display:flex;
  align-items: flex-end;
}

.category-infos > img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  box-shadow: 0 1px 6px rgb(20, 20, 20, .3);
}

.category-infos .category {
  padding-left: 0.75em;
  height: 100%;
  display: flex;
  align-items: center;
}

@media (min-width: 1024px) {
  nav {
     height: 64px;
     position: static;
 }
}