@page "/read/{slug}"
@model Dice_Driven_Stories.Pages.ArticleModel
@{
    ViewData["Title"] = "Article";
}

<div class="header">
    <div class="navigation">
        <a asp-page="Index" >
            <span class="index-link">STORIES</span>
        </a>
        <span class="article-title">@Model.Post.Title</span>
    </div>
    <h1 class="title">@Model.Post.Title</h3>
</div>
<div class="content">@Model.ArticleContent</div>


