@page "/read/{slug}"
@model Roll_Driven_Stories.Pages.ArticleModel
@{
    ViewData["Title"] = "Article";
}
<link rel="stylesheet" href="~/css/article.css" />

<div class="header">
    <h1 class="title">@Model.Post.Title</h3>
    <div class="fake-hr"></div>
</div>
<div class="content">@Model.ArticleContent</div>


