@page "/read/{slug}"
@model Swrith.Pages.ArticleModel
@{
    ViewData["Title"] = @Model.PostTitle;
}
<div class="header">
    <div class="navigation">
        <a asp-page="Index" >
            <span class="index-link">STORIES</span>
        </a>
        <span class="article-title">@Model.PostTitle</span>
    </div>
    <h1 class="title">@Model.PostTitle</h3>
</div>
<div class="content">@Model.ArticleContent</div>