@page
@model Swrith.Pages.IndexModel
@{
    ViewData["Title"] = "Home page";
}
<partial name="Shared/_PostsDisplay.cshtml"/>
<div class="pagination-display">
    @if(Model.CurrentPage != 1)
    {
        <a class="recent-articles" asp-route-pageNumber=@Model.OldPage>Newer stories</a>
    }
    @if(Model.TotalPages > Model.CurrentPage)
    {
        <a class="old-articles" asp-route-pageNumber=@Model.NextPage>Older stories</a>
    }
</div>