@page
@model Roll_Driven_Stories.Pages.IndexModel
@{
    ViewData["Title"] = "Home page";
}



<div class="post">
    <span class="background"></span>
    <h3 class="title">Bjr</h3>
    <div class="description">dfdfd</div>
    <span class="filler"></span>
    <div class="category"></div>
</div>